.cardContainer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  border-radius: 34px;
  height: 70px;
  margin: 10px;
  background: #1a2539;
  color: white;
}
.avatarContainer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarContainer .avatar{
  border: 2px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 600ms;
}

.avatarContainer:hover .avatar{
  transform: scale(1.3);
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 20px; */
  text-transform: capitalize;
  height: 100%;
}
.information p{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information p span:last-child{
  color: #128DFF;
}
