.containerAllChat{
  display: flex;
  flex-direction: row;
  
}
.inputchat{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  
  background-color: rgb(17, 24, 37);

  width: 100%;
}
.colum{
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    width: 35%;
    border-right: 5px solid;
    background-color: rgb(0, 0, 0);
    scrollbar-width:none;
   
    
}
.comlumR{
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;

}

.recievedMessage{
  display:flex;
  align-self: flex-start;
  margin-left:2px;
  padding:5px 20px;
  max-width: 250px;
  flex-wrap: wrap;
  background-color:rgba(0, 0, 0, 0.331);
  color:white;
  border:0.5px solid rgba(0, 0, 0, 0.331);
  border-radius:20px;
  text-align: left;
  margin-top: 5px;
  justify-items: center;
}


.ownMessage{
  display: flex;
  align-self: flex-end;
  background-color: rgb(5, 39, 9);
  margin-right:2px;
  padding:5px 20px;
  color: white;
  border:0.5px solid rgb(5, 39, 9);
  border-radius:20px;
  text-align: right;
  justify-content: flex-end;
  max-width: 250px;
  flex-wrap: wrap;
   margin-top: 5px;
   justify-items: center;

}

.derecha{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.izquierda{
  display: flex;
   width: 100%;
  justify-content: flex-start;
}
.image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  left: 0;
}
.userMessaging{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.394);
  padding: 10px;
  margin-bottom: px;}
.userTitle{
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  text-transform: capitalize;

}
.paperPlane{
  height: 30px;
  width: 30px;
margin-right: 10px;
  cursor: pointer;
}
.inputTypeChat{
  
  
  height: 2.5em;
  width: 58em;
}
.button{
  
  right: 0;
  height: 2.5em;
  width: 5em;
  border-radius: 1em;
  border: none;
  background-color: green;
  color: white;
  
}
.namePlusNewMessage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon{
  margin-left: 5px;
  color: #00B83F;
}

.chat{
  overflow-y: scroll;
  height: 31.75em;
  max-height: 31.75em;
  /* margin-bottom: 10px; */

 
}
.backToHome{
  
  height: 3em;
  width: 6em;
  border-radius: 1em;
  border: none;
  background-color: #128DFF;
  color: white;
}