.container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;

}

.image{
    width: 20em;
    height: 20em;
    border-radius: 500em;
    border: solid 0.2em;
    margin-left: 5em;
}

.info{
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    width: 50em;
}

/* .input{
    display: flex;
    flex-direction: column;
} */

.buttonEdit{
    height: 2em;
    width: 3em;
    border-radius: 0.5em;
    background-color: rgb(13, 48, 78);
}

.containerData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.input{
    width: 25em;
    border-radius: 0.5em;
    background-color: #d9d9d915;
    font-family: 'Inter', sans-serif; 
    color: white;
    border:0px
    
}