.container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;

}

.image{
    width: 20em;
    height: 20em;
    border-radius: 500em;
    border: solid 0.2em;
    margin-left: 5em;
}

.info{
    margin-right: 25em;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
}