.botonActivo{
    background-color:rgba(0, 184, 63, 1);
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 1px 1px 2px rgb(131, 131, 131);
    color: white;
    font-family: 'Inter', sans-serif; 
    transition: .5s;
  }
  .btnGris{
    background-color:rgb(129, 129, 129);
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 1px 1px 2px rgb(131, 131, 131);
    color: white;
    font-family: 'Inter', sans-serif; 
    transition: .5s;
}