.sport-container {
  position:relative;
  display: flex;
  justify-content:space-around;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}

.sport-span {
  bottom: 20px !important;
  left: 60px !important;
  position: absolute; 
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.856);
  width: 1ch;
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
}

.text{
  margin-top: 40px;
  color:white ;
  font-style: italic;
}