.columnLeft {
  display: grid;
  align-items: center;
  width: 50%;
  justify-content: left;
}
.column {
  display: grid;
  align-items: center;
  width: 50%;
  justify-content: left;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.input {
  width: 200px;
  border-radius: 7px;
  margin-top: 10px;
}
.campo {
  display: grid;
  justify-content: left;
  align-items: center;
}
.titulos {
  margin: 0%;
}
