.defaultImage{
    background-image:url("../../../../utils/TeamsFutbolbasic.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 12.5em;
    width: 100%;
    min-height: 12.5em;
    max-height: 12.5em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;


}

.container{
    height: 20em;
    width: 30em;
    min-width: 30em;
    background-color: rgb(164, 161, 178);
    margin-bottom: 10px;
    border-radius: 3em;
    font-family: 'Inter', sans-serif; 
    margin: 5em;
    text-decoration: none;


}
.image{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 12.5em;
    width: 100%;
    min-height: 12.5em;
    max-height: 12.5em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;

}
.points{
    display: flex;
    justify-content: space-between;
}

h5{
    margin: 0.2em 1em  0 1em;
    text-decoration: none;

  

}

.teamname{
    text-align: center;
    margin-top: 0.4em;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    
}

.conteinerCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin:50px 50px 10px 50px;
}

.button{
    background-color: #00B83F;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    transition: 500ms;
}
.button:hover{
    transform: scale(.95);

}

.buttoncontainer{
    width: 130px;
    position: absolute;
    right:30px;
    
    display: flex;
    margin-top: -15px;
    justify-content: flex-end;
}
.titleTeams{
    margin-left: 3em;
    margin-top: 50px;
    width: 100%;
    font-style: italic;
    color: white;
    font-family: 'Inter', sans-serif;
}


.NewImage{
    height: 150px;
}

.separar{
    margin:10px 40px 10px 10px;
    border: none;
    border-radius: 10px;
    transition: all 500ms;
    height:300px;
    width: 250px;
}

.separar:hover{
    transform: scale(1.05);
    border:none !important;
    box-shadow: 0;
}

.bodyCard{
    background-color: #111825;
    box-shadow: 2px 2px 5px #0C131F;
    border-radius: 0px 0px 5px 8px;
    border: none;
}


