.cardCarousel {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-width: 300px;
  height: 200px;
  padding: 0 3em;
  margin: 0 20px;
  border-radius: 10px;
  background: chocolate;
}

.cardCarousel img {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  color: white;
  text-transform: capitalize;
  left: 20px;
  top: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.717);
}

.subtitle {
  position: absolute;
  color: rgba(255, 255, 255, 0.837);
  text-transform: capitalize;
  top: 35px;
  left: 25px;
  font-style: italic;
}

.location {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.063), rgba(0, 0, 0, 0));
}

.location img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.278);
  width: 20px;
  position: relative;
}

.freeOrBucket{
  font-size: 16px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
}

.location p {
  width: 200px;
  margin-top: 15px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.717);
}