.input {
  margin: 2px 0 6px 5em;
  padding: 0 20px;
  border: none;
  outline: none;
  width: 260px;
  color: white;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  background: rgba(217, 217, 217, .15);
  transition: all 600ms;
}

.input:active {
  background: rgba(255, 255, 255, 0.339);
  
}

.containerSearchBar{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.select{
  height: auto;
  margin-left: 2em;
  font-family: 'Inter', sans-serif;
  border-radius: 5em ;
  background-color: #d9d9d915;
  color: rgba(255, 255, 255, 0.77);
}
.containerFilters{
  margin-left: 2em;
  display: flex;
  align-items: center;
  
}

.error{
  color:rgba(255, 0, 0, 0.479);
}
