.input {
  margin: 2px 0 6px 5em;
  padding: 0 20px;
  border: none;
  outline: none;
  width: 260px;
  color: white;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  background: rgba(217, 217, 217, .15);
  transition: all 600ms;
}

.input:active {
  background: rgba(255, 255, 255, 0.339);
  
}