.carouselContainer {
  user-select: none;
  display: flex;
  padding: 0 3em;
  align-items: center;  
  width: 100%;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
} 
.carouselContainer::-webkit-scrollbar {
  width: 50px;   
  max-width: 50px;   
  min-width: 50px;   
  height: 6px;            /* width of the entire scrollbar */
}

.carouselContainer::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.15);        /* color of the tracking area */
}

.carouselContainer::-webkit-scrollbar-thumb {
  background-color: #128DFF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}